.DS_Store
.local
node_modules
.next
dist
coverage

frontend/.next
frontend/node_modules

backend/.venv
backend/.env
frontend/.env.local
frontend/.env.production
backend/uploads/*
backend/outputs/*
!backend/uploads/.gitkeep
!backend/outputs/.gitkeep
